:root
{
    --iconColor: lightslategrey;
    --caloriesColor: lightcoral;
    --crowdColor: lightsteelblue;
    --distanceColor: lightgray;
    --heightColor: lightgoldenrodyellow;
    --speedColor: lightsalmon;
    --scaleColor: lightseagreen;
    --volumeColor: lightskyblue;
    --timeColor: lightpink;
}

/* Header */

.page-header-top
{
  background-color: lightseagreen;
  padding: 0.1em 0 1px 0;
  text-align: center;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 3vw;
}

/* Main */
main
{
  padding: 10px;
  text-align: center;
}

/******* Result images *******/
img
{
    width: 100%;
    height: 100%;
}

.result-content
{
    border: 5px solid lightseagreen;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.result-image
{
    /* border: 5px solid lightslategray; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-items: center;
    grid-gap: 0px;
    /* height: 50%; */
}

.result-image-flex
{
    /* border: 5px solid lightgreen; */
    background: lightgray;
    
    /* width:100%;
    height: 100%; */
}